body {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;

  gap: 1rem;

  display: flex;

  .source-code-view {
    display: none;
  }

  .mark-it-view {
    display: block;
  }

  .editor {
    width: 90%;
    height: 100%;
    margin: 1rem auto 0 auto;

    .caret {
      width: 2px;
      height: 1rem;

      background-color: black;
    }
  }
}