body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  width: 100vw;
  height: 100vh;

  gap: 1rem;

  display: flex;

  .editor {
    width: 90%;
    height: 100%;
    margin: 1rem auto 0 auto;

    .caret {
      width: 2px;
      height: 1rem;

      background-color: black;
    }
  }

  .source-code-view {
    background-color: #e8e8e8;

    border: none;
  }
}