@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&display=swap');

/* Colors */
:root {
    --primary: #637aff;
    --grey: #5b5b5b;
}

/* Main */
body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 1em;
    padding: 0;
    font-weight: normal;
    width: fit-content;
}

li {
    list-style-position: inside;
}

textarea {
    resize: none;
    outline: none;
}

textarea:focus, div:focus {
    outline: none;
}

/* Paragraph */

/* Headings */
h1 {
    position: relative;

    width: 100%;
    text-align: center;
    margin: 0 auto 1rem auto;

    font-size: 2em;
    font-weight: 500;
}

h1::before {
    border-bottom: 2px dashed;
    border-bottom-color: var(--primary);
    content: '';
    left: 50%;
    transform: translateX(-50%) translateY(4px);
    bottom: 0;
    position: absolute;
    width: 100px;
}

h2 {
    border-left: 6px solid;
    border-left-color: var(--primary);
    padding-left: 6px;

    font-size: 1.6em;
    font-weight: 500;
}

h3 {
    font-size: 1.45em;
    font-weight: 500;
}

h3::before {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    content: '';
    background-color: var(--primary);
    border-radius: 50%;

    margin-right: 6px;
}

h4 {
    font-size: 1.25em;
    font-weight: 500;
}

h4::before {
    display: inline-block;
    width: 10px;
    height: 2px;
    vertical-align: middle;
    content: '';
    background-color: var(--primary);

    margin-right: 4px;
}

h5 {
    font-size: 1.05em;
    font-weight: 500;
}

h5::before {
    display: inline-block;
    width: 8px;
    height: 1px;
    vertical-align: middle;
    content: '';
    background-color: var(--grey);

    margin-right: 6px;
}

h6 {
    font-size: 0.85em;
}

/* Lists */
ul, li {
    margin: 0 0 0.75em;
}

/* First */
ul {
    padding: 0.5em 0 0 1.75em;
}

/* Nested */
ul li ul {
    padding-left: 0.22em;
}

li ul {
    margin-left: 1em;
    margin-top: 0.75em;
}

/* Markers */
li {
    list-style: disc;
}

li ul li {
    list-style: circle;
}

li ul li ul li {
    list-style: square;
}

li ul li ul li ul li {
    list-style: "-  ";
}

/* Horizontal Line */
hr {
    margin: 1em 0;
    border: 0;
    height: 0.5px;
    background-color: var(--grey)
}

/* Code */
code {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 300;

    padding: 1em;
    font-size: 85%;
    background-color: #384d39;
    border-radius: 3px;
    color: #f1f1f1;

    display: inline-block;
    width: 100%;

    white-space: break-spaces;
}